html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}