doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
			block title
				| Your title
		link(rel='stylesheet', href='assets/css/style.css')
	body
	block content
