/*-------------------------------------------------------*\
* Center Block
*
* Center a block without defining the margin-top/bottom.
*
* Useage:
* @include center-block;
\*-------------------------------------------------------*/

@mixin center_block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}