/*-------------------------------------------------------*\
* Center Both
*
* Absolutely center an element both horizontally and vertically
*
* Useage:
* @include center-both;
\*-------------------------------------------------------*/

@mixin center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}