/*-------------------------------------------------------*\
* Convert HEX To RGBA mixin
*
* Returns the rgb value to HEX color input and adds opacity.
* If you want a fallback the third optional argument is the
* property
*
* Useage:
* @include convert_to_rgba(#333, 0.5, "background-color");
* 
* Output:
* background-color: #333;
* background-color: rgba(51,51,51, 0.5);
\*-------------------------------------------------------*/

@mixin convert_to_rgba($color, $opacity: 0.3, $property: '') {
    @if $property != '' {
        #{$property}: $color; // The Fallback
        #{$property}: rgba($color, $opacity);
    } @else {
        @return rgba($color, $opacity);
    }
}