/*-------------------------------------------------------*\
* Fontface
*
* Useage:
* @include fontface ($family, $src, $style: normal, $weight: normal, $cache: '');
* 
* @param   $family   Name of the font
* @param   $src      Path and name of the font without the extension
* @param   $style    font-style
* @param   $weight   font-weight
* @param   $cache    Caching number
\*-------------------------------------------------------*/

@mixin fontface ($family, $src, $style: normal, $weight: normal, $cache: '') {
  @font-face {
    font-family: $family;
    src: url('#{$src}.eot?#{$cache}'); // IE9 compat
    src: url('#{$src}.eot?#iefix-#{$cache}') format('embedded-opentype'), // IE8 and below
         url('#{$src}.woff?#{$cache}') format('woff'), // standards
         url('#{$src}.ttf?#{$cache}') format('truetype'), // Safari, Android, iOS
         url('#{$src}.ttf?#{$cache}') format('svg');
    font-style: $style;
    font-weight: $weight;
  }
}
