/*-------------------------------------------------------*\
* Size
*
* Quickly define the size for rectangles.
*
* Useage:
* @include size(100px);
\*-------------------------------------------------------*/

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}